<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en" ng-app="appRoot" ng-controller="RootController">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Aporta Más</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="plugins/adminlte/css/adminlte.min.css">  
  <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">  
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">

  <link rel="stylesheet" href="dist/css/aporta.esoft.css">
</head>
<body class="hold-transition sidebar-collapse layout-top-nav layout-footer-fixed" ng-controller="LoginController" ng-init="init()">
<div class="wrapper bg-login">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <div id="loading-area"></div>

    <div class="content">
      <div class="row">
        <div class="w-50 content-login-izq position-relative">
          <img class="position-absolute m-a" style="left: 0; right: 0; top: 28vh; width: calc(50vw - 30vw);" src="dist/assets/images/icono-aporta.png" alt="icono aporta" width="250">
        </div>
        <div class="w-50 content-login-der">
          <div class="w-60 m-a text-center content-form">
            <div class="m-a text-gray-aporta fs-22" style="line-height: 22px;">¡Bienvenido de nuevo! Inicia sesión</div>
            <div class="input-group mt-4">
              <input type="text" value="" name="Usuario" class="valid input-defaul-aporta" placeholder="Usuario" ng-model="_login.correo">
            </div>
            <div class="input-group mt-4">
              <input type="password" value="" name="Contrasena" class="valid input-defaul-aporta" placeholder="Contraseña" ng-model="_login.password">
            </div>
            <div class="input-group mt-5">
              <div class="content-mantener-sesion">
                <div class="icheck-default d-inline text-center w-100 mt-4 custom-check-dark">
                  <input type="checkbox" id="nameChk" ng-model="_login.mantener">
                  <label for="nameChk" class="text-dark-blue-aporta fs-13 fw-normal">
                    Mantener sesión iniciada
                  </label> 
                </div>
              </div>
              <div class="position-absolute content-olvido-contrasena">
                <a class="link-aporta fs-14 m-a" ng-click="abrirModal()">Olvide contraseña</a>
              </div>
            </div>
            <div class="input-group mt-5">
              <button type="button" style="width: 140px;" class="btn btn-block btn-default btn-blue-aporta m-a" ng-click="goLogin()">Entrar</button>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer" style="background-color: transparent; position: initial; border-color: transparent;">
    <!-- To the right -->
    <div class="w-50 text-center div-footer">
      Aporta®2020. Todos los derechos reservados.    
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<div class="modal fade" id="modal" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title w-100 text-center">
          Recupera tu contraseña
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center" style="font-family:Flink-Regular;font-size:20px;color:gray;margin-bottom:1px;">
          Ingresa tu correo electrónico registrado. Te enviaremos un enlace para reestablecer tu contraseña.
        </p>
        <div class="row">
          <div class="col-md-6" style="margin: 0 auto;">
            <input name="email" class="valid w-100 mt-4" ng-model="_correoRecuperacion" placeholder="Ingrese su correo..." style="padding:.28571429em 1.5em;border-radius:30px;font-size:20px;border-width:thin;border-color:gray;color:black;background-color:transparent;font-family:Flink-Regular;">
            <div class="text-center font-weight-bold" style="color: #c9393b;" ng-if="mensajeError">{{mensajeError}}</div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-6" style="margin: 0 auto;">
            <button type="button" class="btn w-100 button-modal-active" ng-click="recuperarContrasena()">Recuperar contraseña</button>          
            <button type="button" class="btn w-100 mt-3 button-modal-inactive" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalCambiarPassword" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title w-100 text-center">
          Cambio de contraseña
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
          <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
              <!-- text input -->
              <div class="form-group">
                <label class="w-100 text-center fs-24 text-gray">Ingresa tu nueva contraseña</label>
                <input type="password" class="form-control input-perfil" ng-model="_cambioContrasena.contrasena">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
              <!-- text input -->
              <div class="form-group">
                <label class="w-100 text-center fs-24 text-gray">Confirmar tu nueva contraseña</label>
                <input type="password" class="form-control input-perfil" ng-model="_cambioContrasena.confirmacion">
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-6" style="margin: 0 auto;">
              <button type="button" class="btn w-100 button-modal-active" ng-click="cambiarContrasena()">Cambiar contraseña</button>
              <button type="button" class="btn w-100 mt-3 button-modal-inactive" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="plugins/adminlte/js/adminlte.min.js"></script>

<!-- SweetAlert2 -->
<script src="plugins/sweetalert2/sweetalert2.min.js"></script>

<script src="plugins/Amplify/amplify.min.js"></script>

<script src="plugins/Angularjs/angular.min.js"></script>
<script src="plugins/Angularjs/angular-route.min.js"></script>
<script src="plugins/Angularjs/angular-resource.min.js"></script>
<script src="plugins/Angularjs/angular-local-storage.min.js"></script>
<script src="plugins/Angularjs/angular-filter.min.js"></script>
<script src="dist/AppJs/app.js"></script>
<script src="dist/AppJs/app.config.js"></script>

<script src="dist/AppJs/controllers/LoginController.js"></script>

<script src="dist/AppJs/services/ServiceRoutes.js"></script>
<script src="dist/AppJs/directives/sidebarDirective.js"></script>
</body>
</html>
