<aside class="main-sidebar sidebar-no-expand sidebar-dark-primary elevation-4 custom-sidebar">
  <a href="#" class="brand-link logo-switch">
    <img data-widget="pushmenu" src="dist/assets/icons/icon-aporta.png" alt="Logo Small" class="brand-image-xl logo-xs">
    <img data-widget="pushmenu" src="dist/assets/images/aporta-logo-blanco.png" alt="Logo Large" class="brand-image-xs logo-xl" style="left: 110px">
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu">   
        <li class="nav-item  ">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Inicio
            </p>
          </a>
        </li>
        <li class="nav-item  ">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-bar"></i>
            <p>
              Préstamos
            </p>
          </a>
        </li>
        <li class="nav-item  ">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-dollar-sign"></i>
            <p>
              Ahorros
            </p>
          </a>
        </li>
        <li class="nav-item  ">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-folder"></i>
            <p>
              Centros de trabajo
            </p>
          </a>
        </li>
        <li class="nav-item  ">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-user"></i>
            <p>
              Usuarios
            </p>
          </a>
        </li>
        <li class="nav-item  ">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-paperclip"></i>
            <p>
              Reportes
            </p>
          </a>
        </li>
        <li class="nav-item  ">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>
              Configuraciones
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>