/* File Uploader Styles  */

.uploader input {
  display: none;
}

.uploader {
  -webkit-align-items: center;
  align-items: center;
  background-color: #e2e2e2;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  height: 150px;
  -webkit-justify-content: center;
  justify-content: center;
  outline-offset: 5px;
  position: relative;
  width: 100%;
  border-radius: 8px;
}

.uploader .img,
.uploader .icon {
  pointer-events: none;
}

.uploader,
.uploader .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em;
}

.uploader.dragging {
  outline-color: orangered;
}

.uploader.dragging .icon {
  color: orangered;
}

.uploader.loaded .icon {
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
}

.uploader .img {
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.uploader .img.loaded {
  opacity: 1;
}

.uploader .input-file-icon {
  top: 30px;
  position: absolute;
}

.uploader .input-file-text {
  bottom: 20px;
  position: absolute;
  color: #193865;
}
